<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>TSS4</title>
</head>
<body>

<p th:text="#{tss.programmer}"></p>

<h2 th:text="#{tss.grades.title}"></h2>
<table>
    <thead>
    <tr>
        <th th:text="#{tss.grades.grade}"></th>
        <th th:text="#{tss.grades.subject}"></th>
        <th th:text="#{tss.grades.user}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${gradesMap.isEmpty()}">
        <td> No</td>
        <td>Grades</td>
    </tr>
    <span th:each="grades : ${gradesMap}">
        <tr>
            <td th:each="elem: ${grades.getValue()}">
                <span th:text="${elem}"></span>
            </td>
        </tr>
    </span>

    </tbody>
</table>

<form th:action="@{/add-grade}" method="post">
    <p>Grade: <input type="text" th:field="${newGrade.grade}"></p>
    <p>Subject: <input type="text" th:field="${newSubject.name}"></p>
    <p>User's login: <input type="text" th:field="${newUser.login}"></p>
    <input type="submit" th:value="#{tss.grades.add}">
</form>

</body>
</html>