<!DOCTYPE html>
<html xmlns:tl="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>TSS4</title>
</head>
<body>

<p tl:text="#{tss.programmer}"></p>

<h2 tl:text="#{tss.grades.title}"></h2>
<table>
    <thead>
    <tr>
        <th tl:text="#{tss.grades.grade}"></th>
        <th tl:text="#{tss.grades.subject}"></th>
        <th tl:text="#{tss.grades.user}"></th>
    </tr>
    </thead>
    <tbody>
    <tr tl:if="${gradesMap.isEmpty()}">
        <td> No</td>
        <td>Grades</td>
    </tr>
    <span tl:each="grades : ${gradesMap}">
        <tr>
            <td tl:each="elem: ${grades.getValue()}">
                <span tl:text="${elem}"></span>
            </td>
        </tr>
    </span>

    </tbody>
</table>

</body>
</html>